body{
  background:gray;
  text-align:center;
}
h1{
  color:#fff;
}
p{
  font-size:18px;
  color:#fff;
}
main{
  border:1px solid red;
  display:flex;
  justify-content:center;
}
main > .content{
  width:200px;
  height:200px;
  border:1px solid blue;
}
button{
  width:100px;
  height:30px;
  margin:20px 0;
}
